In [7]:
import pandas as pd
import numpy as np
import glob
import os.path
import math
import re

import warnings
warnings.filterwarnings('ignore')

In [11]:
path = r'./data' #path to files
all_files = glob.glob(path + "/*.txt") #get all files ending with .txt

d = {os.path.splitext(os.path.basename(f))[0] : pd.read_csv(f, delimiter= '\s+', header=0) for f in all_files} #get files as dict

names = pd.DataFrame({'names' : list(d.keys()) }) 
names = pd.concat([pd.DataFrame({'names' : 'none' },index=[0]),names] ).reset_index(drop = True)

In [13]:
names = pd.DataFrame({'names' : list(d.keys()) }) 
names

                                                 names
0    GSM2075788_GCswine-5001-0DPI-WB-5001D0-mRNA.stats
1    GSM2075789_GCswine-5001-14DPI-WB-5001D14-mRNA....
2    GSM2075790_GCswine-5001-21DPI-WB-5001D21-mRNA....
3    GSM2075791_GCswine-5001-28DPI-WB-5001D28-mRNA....
4    GSM2075792_GCswine-5002-0DPI-WB-7431GD-mRNA.stats
..                                                 ...
174  GSM2075962_GCswine-5178-4DPI-WB-5178D4-mRNA.stats
175  GSM2075963_GCswine-5178-7DPI-WB-5178D7-mRNA.stats
176   GSM2075964_GCswine-5186-10DPI-WB-7246-mRNA.stats
177    GSM2075965_GCswine-5186-4DPI-WB-7238-mRNA.stats
178    GSM2075966_GCswine-5186-7DPI-WB-7242-mRNA.stats

[179 rows x 1 columns]

In [14]:
names['dpi'] = names.apply(lambda x: ''.join(filter(str.isdigit, re.search('[0-9]{1,2}DPI',x['names']).group(0))), axis=1)

In [15]:
names['names'] = names.apply(lambda x: re.search('-[0-9]{4}-',x['names']).group(0)[:-1], axis=1)

In [17]:
dpi = names.pop('dpi')

In [18]:
names = pd.concat([pd.DataFrame({'names' : 'none' },index=[0]),names] ).reset_index(drop = True)

In [19]:
keys = list(d.keys())

In [20]:
data = pd.DataFrame()
data=data.append(d[keys[0]].iloc[:,0]) #make first row for labels
for sample in d:
    data=data.append(d[sample].iloc[:,1]) 
    #data=data.append(d[sample].iloc[:,6])

In [21]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,25324,25325,25326,25327,25328,25329,25330,25331,25332,25333
45360240,45360241,45360242,45360243,45360244,45360245,45360246,45360247,ENSSSCG00000000001,ENSSSCG00000000002,ENSSSCG00000000003,...,ENSSSCG00000031066,ENSSSCG00000031067,ENSSSCG00000031068,ENSSSCG00000031069,ENSSSCG00000031070,no_feature,ambiguous,too_low_aQual,not_aligned,alignment_not_unique
0,6,2,2,2,6,6,20,2,31,660,...,0,0,0,0,0,3337306,2607380,0,0,3166590
74,434,191,390,675,3150,5821,12027,6,68,771,...,0,0,0,0,0,3283594,1037767,0,0,2962060
14,201,78,83,107,405,529,984,4,148,857,...,0,0,0,0,0,4075261,1049080,0,0,3441599
9,51,19,9,18,48,37,71,5,101,677,...,0,0,0,0,0,4349788,1215308,0,0,3512273

In [22]:
data.reset_index().head()

,index,0,1,2,3,4,5,6,7,8,...,25324,25325,25326,25327,25328,25329,25330,25331,25332,25333
0,45360240,45360241,45360242,45360243,45360244,45360245,45360246,45360247,ENSSSCG00000000001,ENSSSCG00000000002,...,ENSSSCG00000031066,ENSSSCG00000031067,ENSSSCG00000031068,ENSSSCG00000031069,ENSSSCG00000031070,no_feature,ambiguous,too_low_aQual,not_aligned,alignment_not_unique
1,0,6,2,2,2,6,6,20,2,31,...,0,0,0,0,0,3337306,2607380,0,0,3166590
2,74,434,191,390,675,3150,5821,12027,6,68,...,0,0,0,0,0,3283594,1037767,0,0,2962060
3,14,201,78,83,107,405,529,984,4,148,...,0,0,0,0,0,4075261,1049080,0,0,3441599
4,9,51,19,9,18,48,37,71,5,101,...,0,0,0,0,0,4349788,1215308,0,0,3512273

In [23]:
data.index[0]

'45360240'

In [24]:
data=data.reset_index()
data['names']=names['names']
data=data.set_index('names')
data.columns = data.iloc[0]
data = data.rename_axis(None, axis=0)
data = data.rename_axis(None, axis=1)
data=data.drop(data.index[0])
data

,45360240,45360241,45360242,45360243,45360244,45360245,45360246,45360247,ENSSSCG00000000001,ENSSSCG00000000002,...,ENSSSCG00000031066,ENSSSCG00000031067,ENSSSCG00000031068,ENSSSCG00000031069,ENSSSCG00000031070,no_feature,ambiguous,too_low_aQual,not_aligned,alignment_not_unique
-5001,0,6,2,2,2,6,6,20,2,31,...,0,0,0,0,0,3337306,2607380,0,0,3166590
-5001,74,434,191,390,675,3150,5821,12027,6,68,...,0,0,0,0,0,3283594,1037767,0,0,2962060
-5001,14,201,78,83,107,405,529,984,4,148,...,0,0,0,0,0,4075261,1049080,0,0,3441599
-5001,9,51,19,9,18,48,37,71,5,101,...,0,0,0,0,0,4349788,1215308,0,0,3512273
-5002,0,4,0,0,0,5,2,7,12,219,...,0,0,0,0,0,6896283,1274445,0,0,5281607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
-5178,355,7379,4685,7494,8209,33838,41300,90438,2,70,...,0,0,0,0,0,3050584,681988,0,0,2690833
-5178,1462,16829,5522,6261,6316,23293,24144,38913,4,90,...,0,0,0,0,0,3356654,1014682,0,0,3047038
-5186,245,3645,1182,1303,1680,6373,7088,11133,1,89,...,0,0,0,0,0,3358963,1497726,0,0,2794923
-5186,315,2600,685,522,555,1968,1585,2482,1,32,...,0,0,0,0,0,3343517,1428249,0,0,2887114
-5186,95,1629,580,536,638,2631,2569,4289,8,115,...,0,0,0,0,0,3484721,1094131,0,0,3141985

In [25]:
data['dpi'] = dpi.tolist()

In [26]:
data.to_csv(r'./allfile_counts.csv', sep='\t', index = True)
####################################################